In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
salary = pd.read_csv("Salary_dataset.csv")
salary.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [6]:
salary.drop(columns="Unnamed: 0" , inplace=True)
salary.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [8]:
len(salary)

30

In [10]:
len(salary[salary.duplicated()])

0

In [12]:
salary.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [ ]:
plt.figure(figsize=(6, 4))
sns.scatterplot(x='YearsExperience', y='Salary', data=salary)
plt.title('Salary vs. Years of Experience')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.show()